main {
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 400px;
    background-image: url('../images/backgrounds/hero-section-bg-capri.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.hero-section > .hero-section-overlay {
    background-color: rgba(0, 0, 0, 0.623);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
}

.hero-section > .hero-section-overlay > h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
}

.hero-section > .hero-section-overlay > p {
    color: rgba(255, 255, 255, 0.904);
    font-size: 0.95em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.692);
}

.main-content {
    width: 100%;
}

.main-content > .programming-panel {
    width: calc(100% - 2 * 23px);
    border: 1px solid rgba(214, 214, 214, 0.452);
	box-shadow: 0px 0px 3px rgb(31, 77, 129);
    padding: 15px 15px 30px 15px;
    margin: 23px auto;
}

.main-content > .programming-panel > .days-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100px;
}

.main-content > .programming-panel > .days-panel > .cinema-label {
    font-size: 0.8em;
    color: white;
}

.main-content > .programming-panel > .days-panel > .cinema-name {
    font-size: 1em;
    color: #83a4ca;
    margin-bottom: 10px;
}

.main-content > .programming-panel > .days-panel > #days-buttons {
    display: flex;
    gap: 3px;
    width: 100%;
    height: 60px;
}

.main-content > .programming-panel > .days-panel > #days-buttons > button {
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: 0.1px solid rgba(119, 119, 119, 0.507);
    transition: background-color .3s;
}

.main-content > .programming-panel > .days-panel > #days-buttons > button:hover {
    background-color: #3e4144;
    cursor: pointer;
}

.main-content > .programming-panel > .days-panel > #days-buttons > button > p {
    color: rgb(192, 192, 192);
}

.main-content > .programming-panel > .days-panel > #days-buttons > button.active {
    border: 2px solid #83a4ca;
}
.main-content > .programming-panel > .days-panel > #days-buttons > button.active > p:first-child {
    color: white;
}

.main-content > .programming-panel > .days-panel > #days-buttons > button.active > p:last-child {
    color: #83a4ca;
    font-weight: bold;
}  

hr {
    width: 100%;
    margin: 15px 0px;
    border: 0.1px solid rgba(255, 255, 255, 0.151);
}

.movies-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.movies-panel > .left-wrapper {
    width: 220px;
}

.movies-panel > .left-wrapper > #movie-poster {
    width: 220px;
    height: 330px;
    object-fit: cover;
}

#movie-name {
    text-decoration: none;
    margin: 8px 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    color: white;
}


.movies-panel > .left-wrapper > .movie-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 30px;
}

.movies-panel > .left-wrapper > .movie-info-wrapper > .rating-wrapper > img {
    width: 12px;
    height: 12px;
    object-fit: cover;
}

.movies-panel > .left-wrapper > .movie-info-wrapper > .rating-wrapper > .rating-label {
    color: white;
}

.movies-panel > .left-wrapper > .movie-info-wrapper > #sinopse-button {
    text-decoration: none;
    width: 100px;
    height: 30px;
    background-color: #506d8f;
    border: 0.1px solid #10151bb9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.192);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    color: white;
    border-radius: 5px;
    transition: background-color .3s;
}

.movies-panel > .left-wrapper > .movie-info-wrapper > #sinopse-button:hover {
    background-color: #5d95d6;
    cursor: pointer;
}

.movies-panel > .right-wrapper {
    width: calc(100% - 220px - 10px);
    max-width: calc(100% - 220px - 10px) !important;
    display: flex;
    flex-direction: column;
}


/* MOVIES LIST SECTION */


.movies-panel > .right-wrapper > #movies-list-wrapper {
    display: flex;
    max-width: calc(100% - 2 * 20px);
    margin: 0px 20px 20px 20px;
    gap: 10px;
    min-height: 190px;
    padding: 5px 5px;
    overflow-x: auto;
    overflow-y: hidden;
}

.movies-panel > .right-wrapper > #movies-list-wrapper::-webkit-scrollbar {
    height: 4px;
    background-color: rgb(65, 65, 65);
} 

.movies-panel > .right-wrapper > #movies-list-wrapper > li {
    min-width: 120px;
    height: 180px;
    border: 0.1px solid rgba(0, 0, 0, 0.342);
    list-style-type: none;
    transition: transform 1s;
}

.movies-panel > .right-wrapper > #movies-list-wrapper > li:hover {
    cursor: pointer;
    transform: translate(-3px, -3px);
}

.movies-panel > .right-wrapper > #movies-list-wrapper > li.active-movie {
    border: 2px solid #5d95d6;
}


.movies-panel > .right-wrapper > #movies-list-wrapper > li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* PROGRAMMING SECTION */

.movies-panel > .right-wrapper > #programming-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    overflow-y: auto;
}

.movies-panel > .right-wrapper > #programming-wrapper::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(65, 65, 65);
} 

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming {
    width: 100%;
    padding: 10px;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > h3 {
    color: #83a4ca;
    margin-bottom: 10px;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper {
    margin-bottom: 5px;
    display: flex;
    padding: 6px 10px;
    justify-content: space-between;
    align-items: center;
    border: 0.1px solid rgba(119, 119, 119, 0.507);
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper:last-child {
    margin: 0;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper > .room-number {
    color:white;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper > .time-buttons-wrapper {
    display: flex;
    gap: 6px;
    width: 50%;
    height: 22px;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper > .time-buttons-wrapper > .time-button {
    height: 22px;
    width: 70px;
    padding-top: 2px;
    background-color: #83a4ca;
    border: none;
    border-radius: 3px;
    color: #2e2e2e;
    font-weight: bold;
}

.movies-panel > .right-wrapper > #programming-wrapper > .movie-programming > .programming-time-wrapper > .time-buttons-wrapper > .time-button:hover {
    content: 'COMPRAR';
    background-color: transparent;
    border: 2px solid #83a4ca;
    color: #83a4ca;
    cursor: pointer;
    font-size: 0.7em;
}

.anime-background-wrapper {
    width: 100%;
    height: 600px;
    background-image: url('../images/backgrounds/anime-bg.jpg');
    background-size: cover;
}